@import "./styles/base/main"
@import "./styles/components/ErrorBanner"
@import "./styles/components/RowControls"
@import "./styles/components/Table"

input[type=checkbox]:focus
  outline-color: $slate-3
  outline-offset: 0

input[type=checkbox]:hover
  cursor: pointer

body
  font-family: 'Lucida Grande'
  position: relative

button
  &:hover
    cursor: pointer

.avatar
  background-color: $lavender-5
  border-radius: 100%
  font-size: 11px
  height: 20px
  text-align: center
  width: 20px

  span
    vertical-align: middle
